<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>predefined global functions</title>
</head>
<body>

{{if gt .S1 .S2}}
    S1 > S2
{{end}}

{{if eq .S1 .S2}}
    S1 = S2
{{end}}

{{if lt .S1 .S2}}
    S1 < S2
{{end}}

{{if lt .S1 12}}
    S1 < 12
{{end}}

{{if ne .S1 .S2}}
    S1 != S2
{{end}}
</body>
</html>