<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>functions</title>
</head>
<body>

Data: {{.}}

Data with Double: {{. | fdouble}}

Data with Double then Square: {{. | fdouble | fsquare}}

Data with Double then Square and Square Root: {{. | fdouble | fsquare | fsqroot}}

</body>
</html>